/* =============
    Typography
============= */

body{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;

    h2{
        font-family: 'Libre Baskerville', serif;
    }

    h3{
        font-family: 'Montserrat', sans-serif;
    }

    p{
        font-family: 'Montserrat', sans-serif;
    }

}