/* =============
  HERO
============= */

.HERO {
  background-image: url("/deploy/img/hero.jpg");
  height: 80vh;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: $lahar;

  img{
    width: 100%;
  }

  button{
    color: $tenseterraco;
    background-color: $palegrey;
    font-weight: 700;
    padding: 20px;
    width:flex;
    text-decoration: none;
    border: 3px solid $tenseterraco;
    border-radius: 5px;
    text-align: center;
  }

  button{
      &:hover{
          cursor: pointer;
          color: $zincluster;
      }
  }

}