/* =============
  NOTICE
============= */

.NOTICE{

  margin-top: 16px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: $lahar;


  button{
    color: $tenseterraco;
    background-color: $palegrey;
    font-weight: 700;
    padding: 20px;
    width:flex;
    text-decoration: none;
    border: 3px solid $tenseterraco;
    border-radius: 5px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  button{
      &:hover{
          cursor: pointer;
          color: $zincluster;
      }
  }

  border-top: 10px solid $zincluster;
  border-bottom: 10px solid $zincluster;
  margin-bottom: 100px;

}