/* =============
  TICKET
============= */

.TICKET{
  padding: 20px;
  margin: 20px;
  text-align: left;
  color: $lahar;

  button{
    color: $tenseterraco;
    background-color: $palegrey;
    font-weight: 700;
    padding: 20px;
    width:flex;
    text-decoration: none;
    border: 3px solid $tenseterraco;
    border-radius: 5px;
    text-align: center;
  }

  button{
      &:hover{
          cursor: pointer;
          color: $zincluster;
      }
  }
  
}