/* =============
  TOUR
============= */

.TODO{

  padding-top: 100px;
  padding: 40px;
  color: $tenseterraco;

  font-family: 'Libre Baskerville', serif;

  h3{
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    padding-top: 36px;
  }

  p{
    font-weight: 700;
    font-size: 16px;
    color: $lahar;
  }

  border-top: 10px solid $zincluster;
  border-bottom: 10px solid $zincluster;
  margin-bottom: 100px;
  margin-top: 100px;

  button{

    margin-top: 50px;
    margin-bottom: 50px;
    width:50%;
    color: $tenseterraco;
    background-color: $palegrey;
    font-weight: 700;
    padding: 20px;
    width:flex;
    text-decoration: none;
    border: 3px solid $tenseterraco;
    border-radius: 5px;
    text-align: center;
  }

  button{
      &:hover{
          cursor: pointer;
          color: $zincluster;
      }
}
}
