/* =============
    Footer
============= */

.content{
    
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $lahar;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: $palegrey;
    text-align: center;

    .ARR{
        padding-top: 30px;
        border-top: 20px solid $white;
    }

    img{
        width: 20%;
    }

    .social img{
        filter: invert(100);
    }

    ul{

        padding-top: 30px;
        border-top: 20px solid $white;

        width: 100%;
        list-style: none;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "a1 a2 a3";

        .p1{
            grid-area: a1;
        }
    
        .p2{
            grid-area: a2;
        }
    
        .p3{
            grid-area: a3;
        }
    }    

}