/* =============
    Footer
============= */

.content{

    img{
        width: 20%;
    }
    ul{
        width: 100%;
        list-style: none;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: 
        "a1 a1 a2 a2 a3 a3";

        .p1{
            grid-area: a1;
        }
    
        .p2{
            grid-area: a2;
        }
    
        .p3{
            grid-area: a3;
        }
    }    
}